body {
    position: relative;
    color: white;
    font-family: 400 16px/1.8 "Courier New", sans-serif; !important
    background-color: #7a8aa5
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 15px;
  letter-spacing: 10px;
}
.AboutMe{
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.AboutMe {
  background-image: url(https://rachuang22.github.io/img/Rachel.jpg);
  min-height: 100%;
}


.panel {
  border: 1px solid #d5d5d5;
  border-radius:0 !important;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-heading {
  font-family: "Courier New", sans-serif;
  color: #7a8aa5 !important;
  background-color: #fff !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 500px
}
.panel-body {
  font-family: "Courier New", sans-serif;
  color: white; !important;
  background-color: #7a8aa5; !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.panel-body-white {
font-family: "Courier New", sans-serif;
background: white;
color: 536684;
padding: 25px;
border-bottom: 1px solid transparent;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}
.navbar {
  margin-bottom: 0;
  background-color: white;
  color: #7a8aa5;
  z-index: 9999;
  border: 0;
  font-size: 15px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: "Courier New", sans-serif;
}
.navbar li a, .navbar .navbar-brand {
  color: #7a8aa5 !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: white !important;
  background-color:#7a8aa5 !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #7a8aa5 !important;
}
.slideanim {visibility:hidden;}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
0% {
  opacity: 0;
  transform: translateY(70%);
}
100% {
  opacity: 1;
  transform: translateY(0%);
}
}
@-webkit-keyframes slide {
0% {
  opacity: 0;
  -webkit-transform: translateY(70%);
}
100% {
  opacity: 1;
  -webkit-transform: translateY(0%);
}
}
@media screen and (max-width: 768px) {
.col-sm-4 {
  text-align: center;
  margin: 25px 0;
}
.btn-lg {
    width: 100%;
    margin-bottom: 35px;
}
}
@media screen and (max-width: 480px) {
.logo {
    font-size: 150px;
}
}

p.a {
border-radius: 25px;
padding: 20px;
font-family: 400 16px/1.8 "Courier New", sans-serif;
}
p.b {
border-radius: 25px;
padding: 20px;
color:#7a8aa5;
background-color:white;
font-family: 400 16px/1.8 "Courier New", sans-serif;
white-space: pre
}

p.special-thanks {
font-family: 400 16px/1.8 "Courier New", sans-serif;
}

p.files {
outline: 3px solid #7a8aa5;
white-space: pre;
background: white;
color: #7a8aa5;
font-family: 400 16px/1.8 "Courier New", sans-serif;

}



